# Categories Table

In [1]:
import sqlite3
from bs4 import BeautifulSoup
import requests

connection = sqlite3.connect('BooksDB.db')
sql = "CREATE TABLE categories (id int NOT NULL,category varchar(255),link varchar(255))"
cursor = connection.execute(sql)

cat_url = f'https://books.toscrape.com/index.html'
response = requests.get(cat_url)
soup = BeautifulSoup(response.text,'html.parser')
cat_ul= soup.find_all('div', attrs={'class':'side_categories'})  
cat_ul= cat_ul[0].find_all('a') 

for i in range(1,len(cat_ul)):
    sql = 'INSERT INTO categories (id,category,link) VALUES (?,?,?)'
    data = [i-1,cat_ul[i].get_text().strip(),cat_ul[i]['href']]
    cursor = connection.execute(sql,data)

connection.commit()
connection.close()
print("Categories gathered.")

# Books Table

In [ ]:
import sqlite3
from bs4 import BeautifulSoup
import requests
connection = sqlite3.connect('BooksDB.db')
sql = "CREATE TABLE books (name varchar(255),category varchar(255),price float,rating int)"
cursor = connection.execute(sql)
print("Table created.")


print("Gathering Books ... .")
for i in range(1,len(cat_ul)):
    j=1
    page='index'
    while True:
        url = f'https://books.toscrape.com/catalogue/category/books/{cat_ul[i].get_text().strip().replace(" ","-").lower()}_{i+1}/{page}.html'
        response = requests.get(url)
        soup = BeautifulSoup(response.text,'html.parser')
        books = soup.find_all('article', attrs={'class':'product_pod'}) 
        for book in books: 
            book_name = book.find('h3').get_text()
            book_price = book.find('p',attrs={'class':'price_color'}).get_text()[2::]
            book_category = cat_ul[i].get_text().strip()
            book_rating = book.find('p',attrs={'class':['star-rating One','star-rating Two','star-rating Three','star-rating Four','star-rating Five']})['class'][1]
            
            if book_rating == 'One' : 
                book_rating = 1
            elif book_rating=='Two' :
                book_rating = 2
            elif book_rating=='Three' :
                book_rating = 3
            elif book_rating=='Four' :
                book_rating = 4
            elif book_rating=='Five' :
                book_rating = 5
                
            sql = 'INSERT INTO books(name,category,price,rating) VALUES (?,?,?,?)' 
            data = [book_name,book_category,float(book_price),int(book_rating)]
            cursor = connection.execute(sql,data) 
        query_pages = soup.find_all('li', attrs={'class':'next'})
        if len(query_pages)==0:
            break
        j+=1
        page = f'page-{j}'
connection.commit()
print("Books Gathered.")
connection.close()

# Pandas

In [4]:
import pandas as pd
x= pd.read_csv('books.csv')
x

                                   name  category  price  rating
0               It's Only the Himalayas    Travel  45.17       2
1           Full Moon over Noahâs ...    Travel  49.43       4
2        See America: A Celebration ...    Travel  48.87       3
3    Vagabonding: An Uncommon Guide ...    Travel  36.94       2
4                  Under the Tuscan Sun    Travel  37.33       3
..                                  ...       ...    ...     ...
995              Why the Right Went ...  Politics  52.65       4
996      Equal Is Unfair: America's ...  Politics  56.86       1
997                      Amid the Chaos  Cultural  36.58       1
998                          Dark Notes   Erotica  19.19       5
999              The Long Shadow of ...     Crime  10.97       1

[1000 rows x 4 columns]

In [5]:
y= pd.read_csv('categories.csv')
y

    id            category                                               link
0    0              Travel       catalogue/category/books/travel_2/index.html
1    1             Mystery      catalogue/category/books/mystery_3/index.html
2    2  Historical Fiction  catalogue/category/books/historical-fiction_4/...
3    3      Sequential Art  catalogue/category/books/sequential-art_5/inde...
4    4            Classics     catalogue/category/books/classics_6/index.html
5    5          Philosophy   catalogue/category/books/philosophy_7/index.html
6    6             Romance      catalogue/category/books/romance_8/index.html
7    7      Womens Fiction  catalogue/category/books/womens-fiction_9/inde...
8    8             Fiction     catalogue/category/books/fiction_10/index.html
9    9           Childrens   catalogue/category/books/childrens_11/index.html
10  10            Religion    catalogue/category/books/religion_12/index.html
11  11          Nonfiction  catalogue/category/books/nonfiction_13/index.html
12  12               Music       catalogue/category/books/music_14/index.html
13  13             Default     catalogue/category/books/default_15/index.html
14  14     Science Fiction  catalogue/category/books/science-fiction_16/in...
15  15    Sports and Games  catalogue/category/books/sports-and-games_17/i...
16  16       Add a comment  catalogue/category/books/add-a-comment_18/inde...
17  17             Fantasy     catalogue/category/books/fantasy_19/index.html
18  18           New Adult   catalogue/category/books/new-adult_20/index.html
19  19         Young Adult  catalogue/category/books/young-adult_21/index....
20  20             Science     catalogue/category/books/science_22/index.html
21  21              Poetry      catalogue/category/books/poetry_23/index.html
22  22          Paranormal  catalogue/category/books/paranormal_24/index.html
23  23                 Art         catalogue/category/books/art_25/index.html
24  24          Psychology  catalogue/category/books/psychology_26/index.html
25  25       Autobiography  catalogue/category/books/autobiography_27/inde...
26  26           Parenting   catalogue/category/books/parenting_28/index.html
27  27       Adult Fiction  catalogue/category/books/adult-fiction_29/inde...
28  28               Humor       catalogue/category/books/humor_30/index.html
29  29              Horror      catalogue/category/books/horror_31/index.html
30  30             History     catalogue/category/books/history_32/index.html
31  31      Food and Drink  catalogue/category/books/food-and-drink_33/ind...
32  32   Christian Fiction  catalogue/category/books/christian-fiction_34/...
33  33            Business    catalogue/category/books/business_35/index.html
34  34           Biography   catalogue/category/books/biography_36/index.html
35  35            Thriller    catalogue/category/books/thriller_37/index.html
36  36        Contemporary  catalogue/category/books/contemporary_38/index...
37  37        Spirituality  catalogue/category/books/spirituality_39/index...
38  38            Academic    catalogue/category/books/academic_40/index.html
39  39           Self Help   catalogue/category/books/self-help_41/index.html
40  40          Historical  catalogue/category/books/historical_42/index.html
41  41           Christian   catalogue/category/books/christian_43/index.html
42  42            Suspense    catalogue/category/books/suspense_44/index.html
43  43       Short Stories  catalogue/category/books/short-stories_45/inde...
44  44              Novels      catalogue/category/books/novels_46/index.html
45  45              Health      catalogue/category/books/health_47/index.html
46  46            Politics    catalogue/category/books/politics_48/index.html
47  47            Cultural    catalogue/category/books/cultural_49/index.html
48  48             Erotica     catalogue/category/books/erotica_50/index.html
49  49               Crime       catalogue/category/books/crime_51/index.html